<header class="miner-head">
    <div class="miner-head-counter">
      <div class="miner-head-counter-num num-0"></div>
      <div class="miner-head-counter-num num-9"></div>
      <div class="miner-head-counter-num num-9"></div>
    </div>

    <div class="miner-head-smile"></div>

    <div class="miner-head-timer">
      <div class="miner-head-timer-num num-0"></div>
      <div class="miner-head-timer-num num-0"></div>
      <div class="miner-head-timer-num num-0"></div>
    </div>
  </header>

  <section class="miner-field">
  </section>
